/* Estilos gerais para a página */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Centraliza verticalmente na tela */
  overflow-y: auto;
}

h1 {
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
}


/* Estilos para o menu */
header {
  background-color: #333; /* Cor de fundo do cabeçalho */
  padding: 10px 0; /* Espaçamento interno do cabeçalho */
  border-radius: 7px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.list-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
}

.list-menu li {
  margin-right: 20px; /* Espaçamento entre os itens do menu */
  margin-bottom: 10px; /* Espaçamento entre as linhas de itens */
  flex: 1; /* Faz com que cada item ocupe 25% do espaço em telas menores (4 itens por linha) */
}

.list-menu a {
  text-decoration: none;
  color: #fff; /* Cor do texto dos itens do menu */
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.list-menu a:hover {
  color: #f2ff00bd; /* Cor do texto ao passar o mouse */
}

/* Estilos para o ícone de menu mobile */
.menu-toggle {
  display: none; /* Ocultar o ícone em telas maiores */
  cursor: pointer;
}

/* Estilos para tornar o ícone visível em telas menores (móveis) */
@media (max-width: 768px) {
  .list-menu {
      display: flex; /* Mostrar o menu em telas menores */
      flex-direction: column;
  }

  .list-menu li {
      margin: 0; /* Remover margens entre os itens */
  }

  .menu-toggle {
      display: block; /* Mostrar o ícone em telas menores */
  }
  
  /* Estilos para o ícone quando o menu está aberto */
  .menu-toggle.open .one {
      transform: rotate(-45deg) translate(-5px, 6px);
  }
  .menu-toggle.open .two {
      opacity: 0;
  }
  .menu-toggle.open .three {
      transform: rotate(45deg) translate(-5px, -6px);
  }
}







#mercadorias {
  display: flex;
  flex-wrap: wrap;
  /* Permite que as divs quebrem para uma nova linha */
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  /* Define a largura máxima para evitar que se espalhem demais */
  color: #f2ff00bd;
  background-color: #1b1a1a;
  font-weight: bold;
  max-height: 420px;
  /* Defina a altura máxima desejada */
  margin-top: 50px;
  overflow-y: auto;
}

/* Estilos para os itens de mercadorias */
#mercadorias div {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  width: calc(25% - 10px);
  /* Define a largura de 25% (um quarto) com margem */
}

#mercadorias div span {
  display: block;
  margin-bottom: 5px;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #2980b9;
}

/* Estilos para o botão Enviar Email */
button#enviar-email {
  background-color: #2ecc71;
  margin-top: 20px;
}

button#enviar-email:hover {
  background-color: #27ae60;
}




#mercadorias .subtitulo {
  text-align: center;
  background-color: #1b1a1a;
  /* Cor de fundo igual à cor da div principal */
  color: #ff0000;
  /* Cor do texto em vermelho */
  padding: 10px;
  border-radius: 0;
  border: none;
}
